<section>
  <div class="hero-img hero-img--350"><img class="hero-img__image" src="/img/home-banner.png">
    <div class="text-box text--center">
      <h2 class="heading-2-normal text--light">En las organizaciones se trata de trascender,  <br> de dejar huella y de asegurarnos que estamos contribuyendo
<br> a hacer de éste un lugar mejor.</h2>
      <br>
      <a href="contact" style="width:300px; text-align: center" class="button button--center text--yellow">contáctanos</a>
    </div>
  </div>
</section>
