<footer>
  <div class="contact container--padding-top">
    <a class="logo logo--center" href="/"><img class="logo__img" src="/img/icons/idea-icono.png"></a>
    <p class="text text--primary">T. (771) 715 6085</p>
    <p class="text text--primary">Zamora 203, Planta Baja, Col. Ex Hacienda de Guadalupe,</p>
    <p class="text text--primary">C.P. 42050, Pachuca, Hgo.</p>
    <br>
    <div class="container__options"><a class="text text--light text--mleft" href="/">Home    </a><a class="text text--light text--mleft" href="about.html">Nosotros</a><a class="text text--light text--mleft" href="solutions.html">Soluciones</a><a class="text text--light text--mleft"
        href="contact.html"> Contacto</a></div>
  </div>
  <div class="container">
    <div class="half--footer">
      <p class="text text--left center text--bold"> 2016. Ideaonce. <span class="text text--right">Todos los Derechos Reservados.</span></p>
    </div>
    <div class="half--footer last"><a class="text text--right center" href="notice.html">Aviso de Privacidad &nbsp | &nbsp <a class="text text--bold" href="https://www.facebook.com/strategassoluciones.devalor?ref=ts&fref=ts">Facebook<a/> &nbsp | &nbsp <a class="text text--logo logo--inbox" href="https://inbox.mx"> by</a></a>
    </div>
  </div>
</footer>
